<div class="card mb-3">
    {{#each this.users}}
    <img src="/images/14/main.jpg" class="card-img-top" alt="picture">
    <div class="card-body">
        <h5 class="card-title text-center">{{ten}}</h5>
        <p class="card-text">Username: {{ten_dang_nhap}}</p>
        <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
        4.0 stars
    </div>
    {{/each}}
</div>